body{
    display: flex;
    justify-content: center;
    align-items: center;    
    font-weight: bold;       
    font-size: 10rem;
    text-align: center;
    color: black;
}

a {
  text-decoration-line: none;
  color: inherit;
}

a:link { color:black; }
a:hover { color:rgb(74, 74, 74); }
a:active { color:rgb(127, 127, 127); }