* {
	word-break: keep-all;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none; 
    color: inherit; 
}

body {
    height: 100hv;
    font-weight: bold;       
    font-size: 1.5rem;
    color: black;
}

.main{
    font-weight: bold;
    font-size: 10rem;
    text-align: center;
    color: black;
    text-decoration-line: none;
    color: inherit;

    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
}

.p2{
    font-size: 1rem;
}

.copyright {
    margin: 0;
    font-weight: bold;       
    font-size: 1rem;
    text-align: center;
    color: rgb(180, 180, 180);
}

.back {
    position: absolute;
    top: 40px;
    left: 40px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
}
