body {
  margin: 0;
  background: #0d1117;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  color: white;
}

.stage {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.text {
  position: absolute;
  font-size: 20px;
  white-space: nowrap;
  animation: move 15s infinite alternate ease-in-out;
}

.text a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.text a:hover {
  opacity: 0.7;
}

@keyframes move {
  0%   { transform: translate(5vw, 10vh); }
  25%  { transform: translate(70vw, 20vh); }
  50%  { transform: translate(20vw, 60vh); }
  75%  { transform: translate(80vw, 75vh); }
  100% { transform: translate(40vw, 30vh); }
}

.t1  { animation-delay: 0s; }
.t2  { animation-delay: -0.5s; }
.t3  { animation-delay: -1s; }
.t4  { animation-delay: -1.5s; }
.t5  { animation-delay: -2s; }
.t6  { animation-delay: -2.5s; }
.t7  { animation-delay: -3s; }
.t8  { animation-delay: -3.5s; }
.t9  { animation-delay: -4s; }
.t10 { animation-delay: -4.5s; }
.t11 { animation-delay: -5s; }
.t12 { animation-delay: -5.5s; }
.t13 { animation-delay: -6s; }
