body {
    margin: 0;
    background-image: url("rma3.jpg");
    background-size: cover;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none; 
    color: inherit; 
}

.detail-page {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   


.back {
    position: absolute;
    top: 40px;
    left: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
}


.title {
    font-size: 6rem;
    font-weight: bold;
}



.description {
    font-size: 15px;
    line-height: 1.8;
    text-align: center;
}


footer {
    text-align: center;
    font-weight: bold;       
    font-size: 12px;
    padding: 20px 0;
    color: rgba(180, 180, 180, 0.8);
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: brightness(0.9); 
}



